In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
Cleaned_data = os.path.join('../CleanData/CollegeBasketballPlayers2009-2021_clean.csv')
Cleaned_df = pd.read_csv(Cleaned_data)

In [3]:
Cleaned_df
Unique_Identifier = []
for index, row in Cleaned_df.iterrows():
    Unique_Identifier.append(row['player_name']+' - ' + str(row['pick']))
        
len(Unique_Identifier)

52762

In [5]:
len(Cleaned_df)

52762

In [6]:
Cleaned_df['Unique_Identifier'] = Unique_Identifier
Cleaned_df

,player_name,team,conf,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,...,dreb,treb,ast,stl,blk,pts,Position,Drafted,Round_Drafted,Unique_Identifier
0,DEANDRAE ROSS,South Alabama,SB,26,29.5,97.3,16.6,42.5,44.43,1.6,...,0.6154,0.8077,1.1923,0.3462,0.0385,3.8846,Unknown,0,0,DEANDRAE ROSS - 0
1,POOH WILLIAMS,Utah St.,WAC,34,60.9,108.3,14.9,52.4,54.48,3.8,...,1.2647,1.9412,1.8235,0.4118,0.2353,5.9412,Unknown,0,0,POOH WILLIAMS - 0
2,JESUS VERDEJO,South Florida,BE,27,72.0,96.2,21.8,45.7,47.98,2.1,...,2.3333,2.9630,1.9630,0.4815,0.0000,12.1852,Unknown,0,0,JESUS VERDEJO - 0
3,MIKE HORNBUCKLE,Pepperdine,WCC,30,44.5,97.7,16.0,53.6,53.69,4.1,...,1.4333,2.1333,1.1000,0.5667,0.1333,4.9333,Unknown,0,0,MIKE HORNBUCKLE - 0
4,ANTHONY BROWN,Pacific,BW,33,56.2,96.5,22.0,52.8,54.31,8.3,...,3.3030,4.7273,0.8485,0.4545,0.3333,7.5758,Unknown,0,0,ANTHONY BROWN - 0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52757,ISAIAH FOLKES,Charlotte,CUSA,8,3.7,92.7,13.4,40.0,45.66,7.4,...,0.7500,1.0000,0.3750,0.0000,0.0000,0.6250,Wing G,0,0,ISAIAH FOLKES - 0
52758,FRANCK KEPNANG,Oregon,P12,16,12.9,129.5,13.2,67.9,65.84,8.5,...,0.6250,1.2500,0.1250,0.1250,1.1250,2.8125,C,0,0,FRANCK KEPNANG - 0
52759,GERALD DOAKES,New Mexico St.,WAC,10,5.9,47.2,28.6,11.9,17.11,0.0,...,0.8182,1.0000,0.3636,0.1818,0.0000,1.7273,Wing G,0,0,GERALD DOAKES - 0
52760,DAVID JONES,DePaul,BE,9,17.1,86.9,21.8,39.1,40.09,7.3,...,1.6667,2.6667,0.4444,0.4444,0.2222,5.1111,Wing F,0,0,DAVID JONES - 0
52761,MAC ETIENNE,UCLA,P12,13,11.0,99.1,15.1,60.0,55.37,10.2,...,1.9231,2.8462,0.2308,0.1538,0.1538,2.6154,C,0,0,MAC ETIENNE - 0

In [7]:
Cleaned_df[Cleaned_df['Unique_Identifier'] == "CAMERON JOHNSON - 11"]

,player_name,team,conf,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,...,dreb,treb,ast,stl,blk,pts,Position,Drafted,Round_Drafted,Unique_Identifier
32537,CAMERON JOHNSON,Pittsburgh,ACC,31,27.8,110.4,19.2,50.8,53.55,4.3,...,1.4194,1.8387,0.4839,0.2903,0.1613,4.6774,Wing F,1,1,CAMERON JOHNSON - 11
36665,CAMERON JOHNSON,Pittsburgh,ACC,33,82.0,121.0,16.3,58.7,61.61,2.5,...,3.8182,4.5152,2.3333,0.9394,0.3333,11.8788,Wing F,1,1,CAMERON JOHNSON - 11
40613,CAMERON JOHNSON,North Carolina,ACC,26,51.3,120.8,18.8,51.5,55.11,6.3,...,3.0000,4.6923,2.3077,0.6923,0.1923,12.4231,Wing F,1,1,CAMERON JOHNSON - 11
43294,CAMERON JOHNSON,North Carolina,ACC,36,74.6,128.9,20.7,62.0,64.65,6.5,...,3.9444,5.7778,2.3889,1.1944,0.2778,16.8889,Wing F,1,1,CAMERON JOHNSON - 11

In [8]:
Cleaned_df[Cleaned_df['player_name'] == 'A.J. PRICE']

,player_name,team,conf,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,...,dreb,treb,ast,stl,blk,pts,Position,Drafted,Round_Drafted,Unique_Identifier
3840,A.J. PRICE,Connecticut,BE,34,73.0,108.5,24.4,50.7,53.92,2.1,...,2.9706,3.5588,4.7059,0.6471,0.0,14.5882,Unknown,1,2,A.J. PRICE - 52
20167,A.J. PRICE,UTSA,WAC,15,11.8,52.0,11.1,50.0,50.00,1.5,...,0.2000,0.3333,0.4667,0.2000,0.0,0.8000,Scoring PG,0,0,A.J. PRICE - 0

In [9]:
#Creating Grouped df of Players' Avg Stats across college career
Groupby_Avg_Df = Cleaned_df.groupby('Unique_Identifier',as_index=False).agg('mean')
Groupby_Avg_Df

,Unique_Identifier,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,DRB_per,AST_per,...,dgbpm,oreb,dreb,treb,ast,stl,blk,pts,Drafted,Round_Drafted
0,A'TOREY EVERETT - 0,23.000000,19.000000,88.000000,15.700000,40.500000,50.080000,1.600000,8.100,14.500000,...,-0.881980,0.125000,0.750000,0.875000,0.708300,0.083300,0.041700,2.416700,0.0,0.0
1,A'TORRI SHINE - 0,27.000000,79.300000,94.100000,23.100000,45.400000,49.985000,4.000000,10.100,8.200000,...,-4.191470,1.132150,2.699250,3.831400,0.950850,0.670500,0.215850,13.027450,0.0,0.0
2,A'USTON CALHOUN - 0,31.000000,73.166667,98.033333,26.466667,46.866667,50.443333,8.300000,16.900,5.433333,...,-1.763977,2.091933,4.074100,6.166033,0.669233,0.533533,0.524200,13.738067,0.0,0.0
3,A.C. REID - 0,23.750000,39.950000,69.025000,16.700000,34.475000,35.722500,0.625000,9.725,11.900000,...,-1.539672,0.094825,1.534850,1.629675,1.127825,0.447025,0.103825,4.362075,0.0,0.0
4,A.D. VASSALLO - 0,34.000000,89.800000,111.800000,25.000000,53.000000,56.500000,4.400000,14.700,16.700000,...,0.305665,1.382400,4.823500,6.205900,2.588200,0.823500,0.852900,19.058800,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22307,ZVONKO BULJAN - 0,29.500000,68.100000,95.200000,27.600000,51.400000,54.550000,8.900000,28.850,17.950000,...,0.665992,1.998300,6.192500,8.190800,1.986200,0.795400,0.272400,12.031650,0.0,0.0
22308,ZYGIS SESTOKAS - 0,23.000000,30.900000,132.700000,11.300000,58.800000,59.150000,2.700000,6.400,6.800000,...,-0.407180,0.434800,1.000000,1.434800,0.521700,0.260900,0.173900,5.087000,0.0,0.0
22309,ZYLAN CHEATHAM - 0,33.333333,61.500000,104.766667,21.700000,53.700000,58.666667,9.066667,22.000,13.866667,...,3.106397,1.994667,5.301067,7.295733,1.826767,0.814533,0.698967,9.580733,0.0,0.0
22310,ZYON DOBBS - 0,16.000000,8.000000,66.300000,13.700000,31.600000,31.350000,2.200000,5.900,7.700000,...,-2.299040,0.117600,0.470600,0.588200,0.470600,0.529400,0.117600,1.352900,0.0,0.0
22311,ZYON PULLIN - 0,25.500000,60.300000,99.150000,20.850000,46.900000,50.695000,1.300000,14.450,24.900000,...,0.474388,0.262450,3.201600,3.464050,3.130500,0.524950,0.071150,8.162050,0.0,0.0

In [10]:
#Add Categorical Variables back to Groupby df - Categorical Variables of the last Year of the Players' CBB career
Categorical_Columns = Cleaned_df.dtypes[Cleaned_df.dtypes == "object"].index.tolist()
Categorical_Columns

['player_name', 'team', 'conf', 'School_Yr', 'Position', 'Unique_Identifier']

In [18]:
Categorical_df = Cleaned_df[['player_name','team','conf','School_Yr','Position','Unique_Identifier','Date_Yr']]
Categorical_df

,player_name,team,conf,School_Yr,Position,Unique_Identifier,Date_Yr
0,DEANDRAE ROSS,South Alabama,SB,So,Unknown,DEANDRAE ROSS - 0,2009
1,POOH WILLIAMS,Utah St.,WAC,So,Unknown,POOH WILLIAMS - 0,2009
2,JESUS VERDEJO,South Florida,BE,Sr,Unknown,JESUS VERDEJO - 0,2009
3,MIKE HORNBUCKLE,Pepperdine,WCC,Sr,Unknown,MIKE HORNBUCKLE - 0,2009
4,ANTHONY BROWN,Pacific,BW,Sr,Unknown,ANTHONY BROWN - 0,2009
...,...,...,...,...,...,...,...
52757,ISAIAH FOLKES,Charlotte,CUSA,Fr,Wing G,ISAIAH FOLKES - 0,2021
52758,FRANCK KEPNANG,Oregon,P12,Fr,C,FRANCK KEPNANG - 0,2021
52759,GERALD DOAKES,New Mexico St.,WAC,Fr,Wing G,GERALD DOAKES - 0,2021
52760,DAVID JONES,DePaul,BE,Fr,Wing F,DAVID JONES - 0,2021
52761,MAC ETIENNE,UCLA,P12,Fr,C,MAC ETIENNE - 0,2021

In [20]:
#Count how many years each player played
Categorical_df.groupby(['Unique_Identifier'])['Unique_Identifier'].count()

Unique_Identifier
A'TOREY EVERETT - 0    1
A'TORRI SHINE - 0      2
A'USTON CALHOUN - 0    3
A.C. REID - 0          4
A.D. VASSALLO - 0      1
                      ..
ZVONKO BULJAN - 0      2
ZYGIS SESTOKAS - 0     1
ZYLAN CHEATHAM - 0     3
ZYON DOBBS - 0         1
ZYON PULLIN - 0        2
Name: Unique_Identifier, Length: 22312, dtype: int64

In [21]:
#Add Number of Years Played for eah player to Groupby_Avg_Df
Number_of_Yrs_Played = Categorical_df.groupby(['Unique_Identifier']).player_name.agg('count').to_frame('Number_of_Yrs_Played').reset_index()
Number_of_Yrs_Played

         Unique_Identifier  Number_of_Yrs_Played
0      A'TOREY EVERETT - 0                     1
1        A'TORRI SHINE - 0                     2
2      A'USTON CALHOUN - 0                     3
3            A.C. REID - 0                     4
4        A.D. VASSALLO - 0                     1
...                    ...                   ...
22307    ZVONKO BULJAN - 0                     2
22308   ZYGIS SESTOKAS - 0                     1
22309   ZYLAN CHEATHAM - 0                     3
22310       ZYON DOBBS - 0                     1
22311      ZYON PULLIN - 0                     2

[22312 rows x 2 columns]

In [22]:
#Add Number of Years Column to Grouped DF
Groupby_Avg_Df = pd.merge(Groupby_Avg_Df,Number_of_Yrs_Played,how='left',left_on='Unique_Identifier',right_on='Unique_Identifier')
Groupby_Avg_Df

,Unique_Identifier,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,DRB_per,AST_per,...,oreb,dreb,treb,ast,stl,blk,pts,Drafted,Round_Drafted,Number_of_Yrs_Played
0,A'TOREY EVERETT - 0,23.000000,19.000000,88.000000,15.700000,40.500000,50.080000,1.600000,8.100,14.500000,...,0.125000,0.750000,0.875000,0.708300,0.083300,0.041700,2.416700,0.0,0.0,1
1,A'TORRI SHINE - 0,27.000000,79.300000,94.100000,23.100000,45.400000,49.985000,4.000000,10.100,8.200000,...,1.132150,2.699250,3.831400,0.950850,0.670500,0.215850,13.027450,0.0,0.0,2
2,A'USTON CALHOUN - 0,31.000000,73.166667,98.033333,26.466667,46.866667,50.443333,8.300000,16.900,5.433333,...,2.091933,4.074100,6.166033,0.669233,0.533533,0.524200,13.738067,0.0,0.0,3
3,A.C. REID - 0,23.750000,39.950000,69.025000,16.700000,34.475000,35.722500,0.625000,9.725,11.900000,...,0.094825,1.534850,1.629675,1.127825,0.447025,0.103825,4.362075,0.0,0.0,4
4,A.D. VASSALLO - 0,34.000000,89.800000,111.800000,25.000000,53.000000,56.500000,4.400000,14.700,16.700000,...,1.382400,4.823500,6.205900,2.588200,0.823500,0.852900,19.058800,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22307,ZVONKO BULJAN - 0,29.500000,68.100000,95.200000,27.600000,51.400000,54.550000,8.900000,28.850,17.950000,...,1.998300,6.192500,8.190800,1.986200,0.795400,0.272400,12.031650,0.0,0.0,2
22308,ZYGIS SESTOKAS - 0,23.000000,30.900000,132.700000,11.300000,58.800000,59.150000,2.700000,6.400,6.800000,...,0.434800,1.000000,1.434800,0.521700,0.260900,0.173900,5.087000,0.0,0.0,1
22309,ZYLAN CHEATHAM - 0,33.333333,61.500000,104.766667,21.700000,53.700000,58.666667,9.066667,22.000,13.866667,...,1.994667,5.301067,7.295733,1.826767,0.814533,0.698967,9.580733,0.0,0.0,3
22310,ZYON DOBBS - 0,16.000000,8.000000,66.300000,13.700000,31.600000,31.350000,2.200000,5.900,7.700000,...,0.117600,0.470600,0.588200,0.470600,0.529400,0.117600,1.352900,0.0,0.0,1
22311,ZYON PULLIN - 0,25.500000,60.300000,99.150000,20.850000,46.900000,50.695000,1.300000,14.450,24.900000,...,0.262450,3.201600,3.464050,3.130500,0.524950,0.071150,8.162050,0.0,0.0,2

In [24]:
#Now Add The College, Conference, and Position each player played their last year of college
Last_Year_of_College = Categorical_df.groupby(['Unique_Identifier'])['Date_Yr'].agg('max').reset_index()
Last_Year_of_College

         Unique_Identifier  Date_Yr
0      A'TOREY EVERETT - 0     2017
1        A'TORRI SHINE - 0     2015
2      A'USTON CALHOUN - 0     2013
3            A.C. REID - 0     2018
4        A.D. VASSALLO - 0     2009
...                    ...      ...
22307    ZVONKO BULJAN - 0     2010
22308   ZYGIS SESTOKAS - 0     2009
22309   ZYLAN CHEATHAM - 0     2019
22310       ZYON DOBBS - 0     2020
22311      ZYON PULLIN - 0     2021

[22312 rows x 2 columns]

In [26]:
Last_Year_of_College = pd.merge(Last_Year_of_College,Categorical_df,how='left',left_on=['Unique_Identifier','Date_Yr'],right_on=['Unique_Identifier','Date_Yr'])
Last_Year_of_College

,Unique_Identifier,Date_Yr,player_name,team,conf,School_Yr,Position
0,A'TOREY EVERETT - 0,2017,A'TOREY EVERETT,Tennessee St.,OVC,So,Combo G
1,A'TORRI SHINE - 0,2015,A'TORRI SHINE,Grambling St.,SWAC,Sr,Wing G
2,A'USTON CALHOUN - 0,2013,A'USTON CALHOUN,Bowling Green,MAC,Sr,Wing F
3,A.C. REID - 0,2018,A.C. REID,Tennessee St.,OVC,Sr,Combo G
4,A.D. VASSALLO - 0,2009,A.D. VASSALLO,Virginia Tech,ACC,Sr,Unknown
...,...,...,...,...,...,...,...
22367,ZVONKO BULJAN - 0,2010,ZVONKO BULJAN,TCU,MWC,Sr,PF/C
22368,ZYGIS SESTOKAS - 0,2009,ZYGIS SESTOKAS,Hofstra,CAA,Sr,Unknown
22369,ZYLAN CHEATHAM - 0,2019,ZYLAN CHEATHAM,Arizona St.,P12,Sr,PF/C
22370,ZYON DOBBS - 0,2020,ZYON DOBBS,James Madison,CAA,Fr,Combo G
22371,ZYON PULLIN - 0,2021,ZYON PULLIN,UC Riverside,BW,So,Scoring PG

In [27]:
Groupby_Avg_Df = pd.merge(Groupby_Avg_Df,Last_Year_of_College,how='left',left_on='Unique_Identifier',right_on='Unique_Identifier')
Groupby_Avg_Df

,Unique_Identifier,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,DRB_per,AST_per,...,pts,Drafted,Round_Drafted,Number_of_Yrs_Played,Date_Yr_y,player_name,team,conf,School_Yr,Position
0,A'TOREY EVERETT - 0,23.000000,19.000000,88.000000,15.700000,40.500000,50.080000,1.600000,8.100,14.500000,...,2.416700,0.0,0.0,1,2017,A'TOREY EVERETT,Tennessee St.,OVC,So,Combo G
1,A'TORRI SHINE - 0,27.000000,79.300000,94.100000,23.100000,45.400000,49.985000,4.000000,10.100,8.200000,...,13.027450,0.0,0.0,2,2015,A'TORRI SHINE,Grambling St.,SWAC,Sr,Wing G
2,A'USTON CALHOUN - 0,31.000000,73.166667,98.033333,26.466667,46.866667,50.443333,8.300000,16.900,5.433333,...,13.738067,0.0,0.0,3,2013,A'USTON CALHOUN,Bowling Green,MAC,Sr,Wing F
3,A.C. REID - 0,23.750000,39.950000,69.025000,16.700000,34.475000,35.722500,0.625000,9.725,11.900000,...,4.362075,0.0,0.0,4,2018,A.C. REID,Tennessee St.,OVC,Sr,Combo G
4,A.D. VASSALLO - 0,34.000000,89.800000,111.800000,25.000000,53.000000,56.500000,4.400000,14.700,16.700000,...,19.058800,0.0,0.0,1,2009,A.D. VASSALLO,Virginia Tech,ACC,Sr,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22367,ZVONKO BULJAN - 0,29.500000,68.100000,95.200000,27.600000,51.400000,54.550000,8.900000,28.850,17.950000,...,12.031650,0.0,0.0,2,2010,ZVONKO BULJAN,TCU,MWC,Sr,PF/C
22368,ZYGIS SESTOKAS - 0,23.000000,30.900000,132.700000,11.300000,58.800000,59.150000,2.700000,6.400,6.800000,...,5.087000,0.0,0.0,1,2009,ZYGIS SESTOKAS,Hofstra,CAA,Sr,Unknown
22369,ZYLAN CHEATHAM - 0,33.333333,61.500000,104.766667,21.700000,53.700000,58.666667,9.066667,22.000,13.866667,...,9.580733,0.0,0.0,3,2019,ZYLAN CHEATHAM,Arizona St.,P12,Sr,PF/C
22370,ZYON DOBBS - 0,16.000000,8.000000,66.300000,13.700000,31.600000,31.350000,2.200000,5.900,7.700000,...,1.352900,0.0,0.0,1,2020,ZYON DOBBS,James Madison,CAA,Fr,Combo G
22371,ZYON PULLIN - 0,25.500000,60.300000,99.150000,20.850000,46.900000,50.695000,1.300000,14.450,24.900000,...,8.162050,0.0,0.0,2,2021,ZYON PULLIN,UC Riverside,BW,So,Scoring PG

In [31]:
Groupby_Avg_Df[['Date_Yr_x','Date_Yr_y']]

         Date_Yr_x  Date_Yr_y
0      2017.000000       2017
1      2014.500000       2015
2      2012.000000       2013
3      2016.500000       2018
4      2009.000000       2009
...            ...        ...
22367  2009.500000       2010
22368  2009.000000       2009
22369  2017.333333       2019
22370  2020.000000       2020
22371  2020.500000       2021

[22372 rows x 2 columns]

In [38]:
Groupby_Avg_Df = Groupby_Avg_Df.drop(columns=['Date_Yr_x'])

In [34]:
Groupby_Avg_Df = Groupby_Avg_Df.rename(columns={'Date_Yr_y':'Date_Yr'})

In [35]:
Groupby_Avg_Df = Groupby_Avg_Df.rename(columns={'team':'Last_Yr_in_College_team','conf':'Last_Yr_in_College_conf','School_Yr':'Last_Yr_in_College_School_Yr','Date_Yr':'Last_Yr_in_College_Date_Yr','Position':'Last_Yr_in_College_Position'})
Groupby_Avg_Df

,Unique_Identifier,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,DRB_per,AST_per,...,pts,Drafted,Round_Drafted,Number_of_Yrs_Played,Last_Yr_in_College_Date_Yr,player_name,Last_Yr_in_College_team,Last_Yr_in_College_conf,Last_Yr_in_College_School_Yr,Last_Yr_in_College_Position
0,A'TOREY EVERETT - 0,23.000000,19.000000,88.000000,15.700000,40.500000,50.080000,1.600000,8.100,14.500000,...,2.416700,0.0,0.0,1,2017,A'TOREY EVERETT,Tennessee St.,OVC,So,Combo G
1,A'TORRI SHINE - 0,27.000000,79.300000,94.100000,23.100000,45.400000,49.985000,4.000000,10.100,8.200000,...,13.027450,0.0,0.0,2,2015,A'TORRI SHINE,Grambling St.,SWAC,Sr,Wing G
2,A'USTON CALHOUN - 0,31.000000,73.166667,98.033333,26.466667,46.866667,50.443333,8.300000,16.900,5.433333,...,13.738067,0.0,0.0,3,2013,A'USTON CALHOUN,Bowling Green,MAC,Sr,Wing F
3,A.C. REID - 0,23.750000,39.950000,69.025000,16.700000,34.475000,35.722500,0.625000,9.725,11.900000,...,4.362075,0.0,0.0,4,2018,A.C. REID,Tennessee St.,OVC,Sr,Combo G
4,A.D. VASSALLO - 0,34.000000,89.800000,111.800000,25.000000,53.000000,56.500000,4.400000,14.700,16.700000,...,19.058800,0.0,0.0,1,2009,A.D. VASSALLO,Virginia Tech,ACC,Sr,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22367,ZVONKO BULJAN - 0,29.500000,68.100000,95.200000,27.600000,51.400000,54.550000,8.900000,28.850,17.950000,...,12.031650,0.0,0.0,2,2010,ZVONKO BULJAN,TCU,MWC,Sr,PF/C
22368,ZYGIS SESTOKAS - 0,23.000000,30.900000,132.700000,11.300000,58.800000,59.150000,2.700000,6.400,6.800000,...,5.087000,0.0,0.0,1,2009,ZYGIS SESTOKAS,Hofstra,CAA,Sr,Unknown
22369,ZYLAN CHEATHAM - 0,33.333333,61.500000,104.766667,21.700000,53.700000,58.666667,9.066667,22.000,13.866667,...,9.580733,0.0,0.0,3,2019,ZYLAN CHEATHAM,Arizona St.,P12,Sr,PF/C
22370,ZYON DOBBS - 0,16.000000,8.000000,66.300000,13.700000,31.600000,31.350000,2.200000,5.900,7.700000,...,1.352900,0.0,0.0,1,2020,ZYON DOBBS,James Madison,CAA,Fr,Combo G
22371,ZYON PULLIN - 0,25.500000,60.300000,99.150000,20.850000,46.900000,50.695000,1.300000,14.450,24.900000,...,8.162050,0.0,0.0,2,2021,ZYON PULLIN,UC Riverside,BW,So,Scoring PG

In [39]:
Groupby_Avg_Df

,Unique_Identifier,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,DRB_per,AST_per,...,pts,Drafted,Round_Drafted,Number_of_Yrs_Played,Last_Yr_in_College_Date_Yr,player_name,Last_Yr_in_College_team,Last_Yr_in_College_conf,Last_Yr_in_College_School_Yr,Last_Yr_in_College_Position
0,A'TOREY EVERETT - 0,23.000000,19.000000,88.000000,15.700000,40.500000,50.080000,1.600000,8.100,14.500000,...,2.416700,0.0,0.0,1,2017,A'TOREY EVERETT,Tennessee St.,OVC,So,Combo G
1,A'TORRI SHINE - 0,27.000000,79.300000,94.100000,23.100000,45.400000,49.985000,4.000000,10.100,8.200000,...,13.027450,0.0,0.0,2,2015,A'TORRI SHINE,Grambling St.,SWAC,Sr,Wing G
2,A'USTON CALHOUN - 0,31.000000,73.166667,98.033333,26.466667,46.866667,50.443333,8.300000,16.900,5.433333,...,13.738067,0.0,0.0,3,2013,A'USTON CALHOUN,Bowling Green,MAC,Sr,Wing F
3,A.C. REID - 0,23.750000,39.950000,69.025000,16.700000,34.475000,35.722500,0.625000,9.725,11.900000,...,4.362075,0.0,0.0,4,2018,A.C. REID,Tennessee St.,OVC,Sr,Combo G
4,A.D. VASSALLO - 0,34.000000,89.800000,111.800000,25.000000,53.000000,56.500000,4.400000,14.700,16.700000,...,19.058800,0.0,0.0,1,2009,A.D. VASSALLO,Virginia Tech,ACC,Sr,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22367,ZVONKO BULJAN - 0,29.500000,68.100000,95.200000,27.600000,51.400000,54.550000,8.900000,28.850,17.950000,...,12.031650,0.0,0.0,2,2010,ZVONKO BULJAN,TCU,MWC,Sr,PF/C
22368,ZYGIS SESTOKAS - 0,23.000000,30.900000,132.700000,11.300000,58.800000,59.150000,2.700000,6.400,6.800000,...,5.087000,0.0,0.0,1,2009,ZYGIS SESTOKAS,Hofstra,CAA,Sr,Unknown
22369,ZYLAN CHEATHAM - 0,33.333333,61.500000,104.766667,21.700000,53.700000,58.666667,9.066667,22.000,13.866667,...,9.580733,0.0,0.0,3,2019,ZYLAN CHEATHAM,Arizona St.,P12,Sr,PF/C
22370,ZYON DOBBS - 0,16.000000,8.000000,66.300000,13.700000,31.600000,31.350000,2.200000,5.900,7.700000,...,1.352900,0.0,0.0,1,2020,ZYON DOBBS,James Madison,CAA,Fr,Combo G
22371,ZYON PULLIN - 0,25.500000,60.300000,99.150000,20.850000,46.900000,50.695000,1.300000,14.450,24.900000,...,8.162050,0.0,0.0,2,2021,ZYON PULLIN,UC Riverside,BW,So,Scoring PG

In [41]:
#Additional Testing
Groupby_Avg_Df.groupby('Number_of_Yrs_Played',as_index=False)['Number_of_Yrs_Played'].count()
#Consider Dropping Rows with >6 Number_of_Yrs_Played as these are likely multiple players with the same name

    Number_of_Yrs_Played
0                   7113
1                   6207
2                   3606
3                   5028
4                    194
5                     84
6                     50
7                     46
8                     16
9                      8
10                    10
11                     2
12                     4
13                     4

In [42]:
Groupby_Avg_Df.pick.unique()

array([ 0., 46., 52.,  4., 23., 14., 49., 55., 58., 42., 15., 56.,  8.,
       50., 12., 54.,  5., 57., 31.,  9., 26., 44., 19.,  1., 38., 34.,
       29., 27., 10., 51.,  7., 33., 22.,  3., 21.,  2., 25.,  6., 24.,
       28., 11., 20., 53., 37., 59., 13., 18., 16., 36., 60., 17., 35.,
       48., 30., 41., 47., 32., 45., 40., 43., 39.])

In [44]:
Groupby_Avg_Df.Drafted.unique()

array([0., 1.])

In [45]:
Groupby_Avg_Df.Round_Drafted.unique()

array([0., 2., 1.])

In [46]:
#Checking for Duplicates
Duplicates = Groupby_Avg_Df[Groupby_Avg_Df.duplicated()]
Duplicates
#No duplicates

Empty DataFrame
Columns: [Unique_Identifier, GP, Min_per, Ortg, usg, eFG, TS_per, ORB_per, DRB_per, AST_per, TO_per, FTM, FTA, FT_per, twoPM, twoPA, twoP_per, TPM, TPA, TP_per, blk_per, stl_per, ftr, ht, porpag, adjoe, pfr, pid, rimmade, rimmade+rimmiss, midmade, midmade+midmiss, rimmade/(rimmade+rimmiss), midmade/(midmade+midmiss), dunksmade, dunksmiss+dunksmade, dunksmade/(dunksmade+dunksmiss), pick, drtg, adrtg, dporpag, stops, bpm, obpm, dbpm, gbpm, mp, ogbpm, dgbpm, oreb, dreb, treb, ast, stl, blk, pts, Drafted, Round_Drafted, Number_of_Yrs_Played, Last_Yr_in_College_Date_Yr, player_name, Last_Yr_in_College_team, Last_Yr_in_College_conf, Last_Yr_in_College_School_Yr, Last_Yr_in_College_Position]
Index: []

[0 rows x 65 columns]

In [47]:
#No nulls
Groupby_Avg_Df.isna().sum()

Unique_Identifier               0
GP                              0
Min_per                         0
Ortg                            0
usg                             0
                               ..
player_name                     0
Last_Yr_in_College_team         0
Last_Yr_in_College_conf         0
Last_Yr_in_College_School_Yr    0
Last_Yr_in_College_Position     0
Length: 65, dtype: int64

In [48]:
Groupby_Avg_Df.to_csv("../CleanData/Players_Avg_Stats_09_21_clean.csv", index=False)