In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
Bball_Stats_22 = os.path.join('Data/CollegeBasketballPlayers2022.csv')
Bball_Stats_22_df = pd.read_csv(Bball_Stats_22)
Bball_Stats_22_df.head()

,player_name,team,conf,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,...,dgbpm,oreb,dreb,treb,ast,stl,blk,pts,Unnamed: 64,Unnamed: 65
0,Isaiah Felder,South Carolina St.,MEAC,11,17.6,61.1,18.6,34.7,35.18,2.5,...,-4.412530,0.2727,1.4545,1.7273,0.4545,0.1818,0.0000,2.3636,Wing G,12.226400
1,Jalen Coleman-Lands,Kansas,B12,23,78.5,103.1,21.5,54.0,56.12,3.6,...,-1.019000,1.0435,2.8696,3.9130,1.1739,0.8261,0.0870,14.3043,Wing G,11.095900
2,K.J. Walton,Akron,MAC,20,63.0,108.6,26.5,54.3,58.88,9.1,...,-0.335789,2.3500,3.5500,5.9000,1.1500,1.2500,0.2000,16.3500,Wing G,0.284581
3,Jeriah Horne,Tulsa,Amer,32,61.3,116.0,20.8,55.2,58.61,5.8,...,1.721580,1.1250,4.7188,5.8438,0.9062,0.5938,0.0625,10.8125,Stretch 4,10.140700
4,Eric Curry,Minnesota,B10,29,39.2,95.1,14.7,46.3,48.72,7.0,...,2.746770,1.1034,1.9655,3.0690,0.8276,0.8276,0.2414,3.6552,Wing F,2.562430

In [3]:
len(Bball_Stats_22_df)

3978

In [4]:
#Replace all empty strings will np.nan objects pandas can see as NA
Bball_Stats_22_df.replace('', np.nan, inplace=True)

In [5]:
Bball_Stats_22_df.isna().sum()

player_name      0
team             0
conf             0
GP               0
Min_per          0
              ...
stl            189
blk            189
pts            189
Unnamed: 64    195
Unnamed: 65    191
Length: 66, dtype: int64

In [6]:
#First 11 Columns
Bball_Stats_22_df.iloc[:,:11]

,player_name,team,conf,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,DRB_per
0,Isaiah Felder,South Carolina St.,MEAC,11,17.6,61.1,18.6,34.7,35.18,2.5,15.7
1,Jalen Coleman-Lands,Kansas,B12,23,78.5,103.1,21.5,54.0,56.12,3.6,10.2
2,K.J. Walton,Akron,MAC,20,63.0,108.6,26.5,54.3,58.88,9.1,12.6
3,Jeriah Horne,Tulsa,Amer,32,61.3,116.0,20.8,55.2,58.61,5.8,23.0
4,Eric Curry,Minnesota,B10,29,39.2,95.1,14.7,46.3,48.72,7.0,13.7
...,...,...,...,...,...,...,...,...,...,...,...
3973,Aquan Smart,FIU,CUSA,21,11.7,69.4,17.7,32.1,36.08,1.8,12.2
3974,Chase Barrs,Florida A&M,SWAC,14,11.0,85.1,8.8,42.9,40.61,5.4,8.7
3975,Hugo Clarkin,Sacramento St.,BSky,16,22.8,99.7,7.8,70.6,68.67,2.9,13.9
3976,James Graham III,Maryland,B10,7,1.8,9.4,17.1,0.0,0.00,0.0,30.9
3977,Zane Butler,SIU Edwardsville,OVC,12,7.0,84.8,10.6,35.0,41.10,5.2,10.0

In [7]:
#First - Count of Nulls
Bball_Stats_22_df.iloc[:,:11].isna().sum()

player_name    0
team           0
conf           0
GP             0
Min_per        0
Ortg           0
usg            0
eFG            0
TS_per         0
ORB_per        0
DRB_per        0
dtype: int64

In [8]:
#Second 11 Columns
Bball_Stats_22_df.iloc[:,11:22]

,AST_per,TO_per,FTM,FTA,FT_per,twoPM,twoPA,twoP_per,TPM,TPA,TP_per
0,8.1,30.4,1,2,0.500,2,8,0.250,7,28,0.250
1,7.8,16.1,31,36,0.861,62,129,0.481,58,147,0.395
2,8.9,17.2,73,92,0.793,127,231,0.550,0,3,0.000
3,7.5,13.0,48,53,0.906,71,139,0.511,52,131,0.397
4,10.2,20.7,18,29,0.621,38,74,0.514,4,21,0.190
...,...,...,...,...,...,...,...,...,...,...,...
3973,10.5,22.3,7,14,0.500,6,18,0.333,2,10,0.200
3974,8.1,22.7,2,6,0.333,3,7,0.429,0,0,0.000
3975,5.9,33.1,0,1,0.000,12,15,0.800,0,2,0.000
3976,7.6,32.6,0,0,0.000,0,0,0.000,0,5,0.000
3977,7.8,23.3,2,2,1.000,2,4,0.500,1,6,0.167

In [9]:
#Second 11 Columns
Bball_Stats_22_df.iloc[:,11:22].isna().sum()

AST_per     0
TO_per      0
FTM         0
FTA         0
FT_per      0
twoPM       0
twoPA       0
twoP_per    0
TPM         0
TPA         0
TP_per      0
dtype: int64

In [10]:
#Third 11 Columns
Bball_Stats_22_df.iloc[:,22:33]

,blk_per,stl_per,ftr,yr,ht,num,porpag,adjoe,pfr,year,pid
0,0.0,0.9,5.6,Sr,Jun-00,0,-1.110000,57.5491,2.8,2022,39014
1,0.3,1.4,13.0,Sr,4-Jun,5,2.977030,111.4260,3.5,2022,40204
2,0.7,2.4,39.3,Sr,3-Jun,1,3.097360,116.1010,3.3,2022,41728
3,0.3,1.5,19.6,Sr,7-Jun,41,3.277890,123.8120,2.6,2022,44216
4,1.5,2.9,30.5,Sr,9-Jun,24,0.435561,93.2541,4.9,2022,44217
...,...,...,...,...,...,...,...,...,...,...,...
3973,2.6,0.0,50.0,So,3-Jun,23,-0.298101,72.3696,5.7,2022,74925
3974,2.4,1.3,85.7,Jr,9-Jun,1,-0.317084,70.7183,3.6,2022,75001
3975,4.0,1.3,5.9,So,Jul-00,5,-0.029577,84.4675,6.2,2022,75094
3976,0.0,0.0,0.0,So,8-Jun,1,-0.826427,9.4765,1.8,2022,75420
3977,0.0,3.3,20.0,So,None,None,-0.283049,71.2723,2.9,2022,75421

In [11]:
#Third 11 Columns
Bball_Stats_22_df.iloc[:,22:33].isna().sum()

blk_per    0
stl_per    0
ftr        0
yr         0
ht         0
num        0
porpag     0
adjoe      0
pfr        0
year       0
pid        0
dtype: int64

In [12]:
#Fourth 11 Columns
Bball_Stats_22_df.iloc[:,33:44]

,type,Rec Rank,ast/tov,rimmade,rimmade+rimmiss,midmade,midmade+midmiss,rimmade/(rimmade+rimmiss),midmade/(midmade+midmiss),dunksmade,dunksmiss+dunksmade
0,all,NaN,0.384583,2.0,4.0,0.0,4.0,0.5000,0.0000,0.0,0.0
1,all,92.8,0.586950,14.0,26.0,48.0,103.0,0.5385,0.4660,0.0,0.0
2,all,74.0,0.479167,101.0,153.0,39.0,99.0,0.6601,0.3939,4.0,4.0
3,all,65.0,0.828488,38.0,59.0,33.0,80.0,0.6441,0.4125,3.0,5.0
4,all,77.4,0.959981,18.0,30.0,20.0,43.0,0.6000,0.4651,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
3973,all,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3974,all,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3975,all,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3976,all,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3977,all,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
#Fourth 11 Columns
Bball_Stats_22_df.iloc[:,33:44].isna().sum()

type                            0
Rec Rank                     2790
ast/tov                       578
rimmade                       365
rimmade+rimmiss               365
midmade                       365
midmade+midmiss               365
rimmade/(rimmade+rimmiss)     631
midmade/(midmade+midmiss)     662
dunksmade                     365
dunksmiss+dunksmade           365
dtype: int64

In [14]:
#Fifth 11 Columns
Bball_Stats_22_df.iloc[:,44:55]

,dunksmade/(dunksmade+dunksmiss),pick,drtg,adrtg,dporpag,stops,bpm,obpm,dbpm,gbpm,mp
0,NaN,NaN,110.1920,116.0180,0.450228,21.5242,-11.23760,-7.657450,-3.580200,-11.90720,11.5455
1,NaN,NaN,111.7920,104.3060,2.610670,114.5310,1.06444,2.419920,-1.355480,1.87461,32.7826
2,1.0,NaN,102.6870,101.1810,2.618340,115.7970,1.20190,1.147480,0.054417,2.45207,29.3000
3,0.6,NaN,94.5248,89.0636,3.246900,156.5940,5.48359,4.021870,1.461720,6.94537,24.5000
4,NaN,NaN,100.1820,93.0315,1.863740,94.0276,2.45292,-0.559305,3.012220,1.49355,15.8966
...,...,...,...,...,...,...,...,...,...,...,...
3973,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3974,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3975,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3976,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3977,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
#Fifth 11 Columns
Bball_Stats_22_df.iloc[:,44:55].isna().sum()

dunksmade/(dunksmade+dunksmiss)    2165
pick                               3978
drtg                                191
adrtg                               191
dporpag                             191
stops                               191
bpm                                 191
obpm                                191
dbpm                                191
gbpm                                191
mp                                  189
dtype: int64

In [16]:
#Sixth 11 Columns
Bball_Stats_22_df.iloc[:,55:67]

,ogbpm,dgbpm,oreb,dreb,treb,ast,stl,blk,pts,Unnamed: 64,Unnamed: 65
0,-7.49472,-4.412530,0.2727,1.4545,1.7273,0.4545,0.1818,0.0000,2.3636,Wing G,12.226400
1,2.89361,-1.019000,1.0435,2.8696,3.9130,1.1739,0.8261,0.0870,14.3043,Wing G,11.095900
2,2.78785,-0.335789,2.3500,3.5500,5.9000,1.1500,1.2500,0.2000,16.3500,Wing G,0.284581
3,5.22379,1.721580,1.1250,4.7188,5.8438,0.9062,0.5938,0.0625,10.8125,Stretch 4,10.140700
4,-1.25322,2.746770,1.1034,1.9655,3.0690,0.8276,0.8276,0.2414,3.6552,Wing F,2.562430
...,...,...,...,...,...,...,...,...,...,...,...
3973,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3974,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3975,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3976,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3977,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
#Sixth 11 Columns
Bball_Stats_22_df.iloc[:,55:67].isna().sum()

ogbpm          191
dgbpm          191
oreb           189
dreb           189
treb           189
ast            189
stl            189
blk            189
pts            189
Unnamed: 64    195
Unnamed: 65    191
dtype: int64

In [19]:
#Replace known empty values with 0s where they should be.
Bball_Stats_22_df['rimmade'] = Bball_Stats_22_df['rimmade'].fillna(0)
Bball_Stats_22_df['rimmade+rimmiss'] = Bball_Stats_22_df['rimmade+rimmiss'].fillna(0)
Bball_Stats_22_df['midmade'] = Bball_Stats_22_df['midmade'].fillna(0)
Bball_Stats_22_df['midmade+midmiss'] = Bball_Stats_22_df['midmade+midmiss'].fillna(0)
Bball_Stats_22_df['rimmade/(rimmade+rimmiss)'] = Bball_Stats_22_df['rimmade/(rimmade+rimmiss)'].fillna(0)
Bball_Stats_22_df['midmade/(midmade+midmiss)'] = Bball_Stats_22_df['midmade/(midmade+midmiss)'].fillna(0)
Bball_Stats_22_df['dunksmade'] = Bball_Stats_22_df['dunksmade'].fillna(0)
Bball_Stats_22_df['dunksmiss+dunksmade'] = Bball_Stats_22_df['dunksmiss+dunksmade'].fillna(0)
Bball_Stats_22_df['dunksmade/(dunksmade+dunksmiss)'] = Bball_Stats_22_df['dunksmade/(dunksmade+dunksmiss)'].fillna(0)
Bball_Stats_22_df['Unnamed: 64'] = Bball_Stats_22_df['Unnamed: 64'].fillna('Unknown')

In [20]:
#Drop Columns with more than 1k NULL rows - Step 1
sum_of_nulls = Bball_Stats_22_df.isna().sum(axis='index')
sum_of_nulls

player_name      0
team             0
conf             0
GP               0
Min_per          0
              ...
stl            189
blk            189
pts            189
Unnamed: 64      0
Unnamed: 65    191
Length: 66, dtype: int64

In [21]:
#Drop Columns with more than 1k NULL rows - Step 2
cols_to_drop = sum_of_nulls.index[sum_of_nulls > 1000].to_list()
cols_to_drop

['Rec Rank', 'pick']

In [22]:
#Drop Columns with more than 1k NULL rows - Step 3
Bball_Stats_22_df.drop(columns = cols_to_drop, inplace=True)
Bball_Stats_22_df

,player_name,team,conf,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,...,dgbpm,oreb,dreb,treb,ast,stl,blk,pts,Unnamed: 64,Unnamed: 65
0,Isaiah Felder,South Carolina St.,MEAC,11,17.6,61.1,18.6,34.7,35.18,2.5,...,-4.412530,0.2727,1.4545,1.7273,0.4545,0.1818,0.0000,2.3636,Wing G,12.226400
1,Jalen Coleman-Lands,Kansas,B12,23,78.5,103.1,21.5,54.0,56.12,3.6,...,-1.019000,1.0435,2.8696,3.9130,1.1739,0.8261,0.0870,14.3043,Wing G,11.095900
2,K.J. Walton,Akron,MAC,20,63.0,108.6,26.5,54.3,58.88,9.1,...,-0.335789,2.3500,3.5500,5.9000,1.1500,1.2500,0.2000,16.3500,Wing G,0.284581
3,Jeriah Horne,Tulsa,Amer,32,61.3,116.0,20.8,55.2,58.61,5.8,...,1.721580,1.1250,4.7188,5.8438,0.9062,0.5938,0.0625,10.8125,Stretch 4,10.140700
4,Eric Curry,Minnesota,B10,29,39.2,95.1,14.7,46.3,48.72,7.0,...,2.746770,1.1034,1.9655,3.0690,0.8276,0.8276,0.2414,3.6552,Wing F,2.562430
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3973,Aquan Smart,FIU,CUSA,21,11.7,69.4,17.7,32.1,36.08,1.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown,NaN
3974,Chase Barrs,Florida A&M,SWAC,14,11.0,85.1,8.8,42.9,40.61,5.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown,NaN
3975,Hugo Clarkin,Sacramento St.,BSky,16,22.8,99.7,7.8,70.6,68.67,2.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown,NaN
3976,James Graham III,Maryland,B10,7,1.8,9.4,17.1,0.0,0.00,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown,NaN
3977,Zane Butler,SIU Edwardsville,OVC,12,7.0,84.8,10.6,35.0,41.10,5.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown,NaN

In [23]:
#Also drop num ast/tov, and Unnamed: 65 to align with 09_21
Bball_Stats_22_df.drop(columns = ['num','ast/tov','Unnamed: 65'], inplace = True)
Bball_Stats_22_df

,player_name,team,conf,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,...,ogbpm,dgbpm,oreb,dreb,treb,ast,stl,blk,pts,Unnamed: 64
0,Isaiah Felder,South Carolina St.,MEAC,11,17.6,61.1,18.6,34.7,35.18,2.5,...,-7.49472,-4.412530,0.2727,1.4545,1.7273,0.4545,0.1818,0.0000,2.3636,Wing G
1,Jalen Coleman-Lands,Kansas,B12,23,78.5,103.1,21.5,54.0,56.12,3.6,...,2.89361,-1.019000,1.0435,2.8696,3.9130,1.1739,0.8261,0.0870,14.3043,Wing G
2,K.J. Walton,Akron,MAC,20,63.0,108.6,26.5,54.3,58.88,9.1,...,2.78785,-0.335789,2.3500,3.5500,5.9000,1.1500,1.2500,0.2000,16.3500,Wing G
3,Jeriah Horne,Tulsa,Amer,32,61.3,116.0,20.8,55.2,58.61,5.8,...,5.22379,1.721580,1.1250,4.7188,5.8438,0.9062,0.5938,0.0625,10.8125,Stretch 4
4,Eric Curry,Minnesota,B10,29,39.2,95.1,14.7,46.3,48.72,7.0,...,-1.25322,2.746770,1.1034,1.9655,3.0690,0.8276,0.8276,0.2414,3.6552,Wing F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3973,Aquan Smart,FIU,CUSA,21,11.7,69.4,17.7,32.1,36.08,1.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown
3974,Chase Barrs,Florida A&M,SWAC,14,11.0,85.1,8.8,42.9,40.61,5.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown
3975,Hugo Clarkin,Sacramento St.,BSky,16,22.8,99.7,7.8,70.6,68.67,2.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown
3976,James Graham III,Maryland,B10,7,1.8,9.4,17.1,0.0,0.00,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown
3977,Zane Butler,SIU Edwardsville,OVC,12,7.0,84.8,10.6,35.0,41.10,5.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown

In [24]:
#Keep Position column in case it provides interesting insight - could provide fun visualization
Bball_Stats_22_df['Unnamed: 64'].unique()

array(['Wing G', 'Stretch 4', 'Wing F', 'Scoring PG', 'Combo G', 'C',
       'Unknown', 'PF/C', 'Pure PG'], dtype=object)

In [25]:
Bball_Stats_22_df.groupby('Unnamed: 64')['Unnamed: 64'].count()

Unnamed: 64
C             502
Combo G       603
PF/C          674
Pure PG       149
Scoring PG    334
Stretch 4     285
Unknown       195
Wing F        357
Wing G        879
Name: Unnamed: 64, dtype: int64

In [26]:
Bball_Stats_22_df = Bball_Stats_22_df.rename(columns={'Unnamed: 64':'Position'})
Bball_Stats_22_df

,player_name,team,conf,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,...,ogbpm,dgbpm,oreb,dreb,treb,ast,stl,blk,pts,Position
0,Isaiah Felder,South Carolina St.,MEAC,11,17.6,61.1,18.6,34.7,35.18,2.5,...,-7.49472,-4.412530,0.2727,1.4545,1.7273,0.4545,0.1818,0.0000,2.3636,Wing G
1,Jalen Coleman-Lands,Kansas,B12,23,78.5,103.1,21.5,54.0,56.12,3.6,...,2.89361,-1.019000,1.0435,2.8696,3.9130,1.1739,0.8261,0.0870,14.3043,Wing G
2,K.J. Walton,Akron,MAC,20,63.0,108.6,26.5,54.3,58.88,9.1,...,2.78785,-0.335789,2.3500,3.5500,5.9000,1.1500,1.2500,0.2000,16.3500,Wing G
3,Jeriah Horne,Tulsa,Amer,32,61.3,116.0,20.8,55.2,58.61,5.8,...,5.22379,1.721580,1.1250,4.7188,5.8438,0.9062,0.5938,0.0625,10.8125,Stretch 4
4,Eric Curry,Minnesota,B10,29,39.2,95.1,14.7,46.3,48.72,7.0,...,-1.25322,2.746770,1.1034,1.9655,3.0690,0.8276,0.8276,0.2414,3.6552,Wing F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3973,Aquan Smart,FIU,CUSA,21,11.7,69.4,17.7,32.1,36.08,1.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown
3974,Chase Barrs,Florida A&M,SWAC,14,11.0,85.1,8.8,42.9,40.61,5.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown
3975,Hugo Clarkin,Sacramento St.,BSky,16,22.8,99.7,7.8,70.6,68.67,2.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown
3976,James Graham III,Maryland,B10,7,1.8,9.4,17.1,0.0,0.00,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown
3977,Zane Butler,SIU Edwardsville,OVC,12,7.0,84.8,10.6,35.0,41.10,5.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unknown

In [27]:
#Checking ht column before implementing fix that converts from date to height in total inches.
Bball_Stats_22_df.ht.unique()

array(['Jun-00', '4-Jun', '3-Jun', '7-Jun', '9-Jun', '2-Jun', '11-May',
       '1-Jun', '5-Jun', '8-Jun', '11-Jun', '6-Jun', '8-May', '10-Jun',
       'Jul-00', '10-May', 'None', '3-Jul', '2-Jul', '9-May', '2-May',
       '1-Jul', '7-May', '6-May', '4-Jul'], dtype=object)

In [28]:
#Replace the dirty Ht values with conversions to an actual height instead of how Excel did us dirty.
Bball_Stats_22_df = Bball_Stats_22_df.replace({'ht':{'2-Jun':'74', '4-Jun':'76', '8-Jun':'80', '1-Jun':'73', '5-Jun':'77', 'Jun-00':'72', '6-Jun':'78',
       '9-Jun':'81', '3-Jun':'75', '11-Jun':'83', '7-Jun':'79', '10-May':'70', '10-Jun':'72', '11-May':'71',
       '9-May':'69', 'Jul-00':'84', '7-May':'67', '5-Jul':'89', '8-May':'68', '6-May':'66', '2-Jul':'86',
       '1-Jul':'85', '-':np.nan, '3-May':'63', '3-Jul':'87', 'Apr-00':'48', '5-May':'65', '4-Jul':'88', 'So': np.nan,
       'Jr': np.nan, 'Fr': np.nan, "6'4":'76', 'None': np.nan, '4-May':'64', '0': np.nan, '1-May':'61', '6-Jul':'90', '5-Apr':'53',
       '2-May':'62'}})
Bball_Stats_22_df.ht.unique()

array(['72', '76', '75', '79', '81', '74', '71', '73', '77', '80', '83',
       '78', '68', '84', '70', nan, '87', '86', '69', '62', '85', '67',
       '66', '88'], dtype=object)

In [29]:
#drop those nulls we created
Bball_Stats_22_df = Bball_Stats_22_df.dropna(subset=["ht"])
Bball_Stats_22_df.ht.unique()

array(['72', '76', '75', '79', '81', '74', '71', '73', '77', '80', '83',
       '78', '68', '84', '70', '87', '86', '69', '62', '85', '67', '66',
       '88'], dtype=object)

In [30]:
#Convert ht column to Int
Bball_Stats_22_df = Bball_Stats_22_df.astype({"ht": int})
Bball_Stats_22_df["ht"]

0       72
1       76
2       75
3       79
4       81
        ..
3972    81
3973    75
3974    81
3975    84
3976    80
Name: ht, Length: 3967, dtype: int32

In [31]:
#Still some nulls
sum_of_nulls2 = Bball_Stats_22_df.isna().sum(axis='index').sort_values(ascending = False)
sum_of_nulls2

bpm         188
ogbpm       188
drtg        188
adrtg       188
dporpag     188
           ...
yr            0
ht            0
porpag        0
adjoe         0
Position      0
Length: 61, dtype: int64

In [32]:
#Drop rows with nulls
Cleaned_df = Bball_Stats_22_df.dropna()
Cleaned_df

,player_name,team,conf,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,...,ogbpm,dgbpm,oreb,dreb,treb,ast,stl,blk,pts,Position
0,Isaiah Felder,South Carolina St.,MEAC,11,17.6,61.1,18.6,34.7,35.18,2.5,...,-7.49472,-4.412530,0.2727,1.4545,1.7273,0.4545,0.1818,0.0000,2.3636,Wing G
1,Jalen Coleman-Lands,Kansas,B12,23,78.5,103.1,21.5,54.0,56.12,3.6,...,2.89361,-1.019000,1.0435,2.8696,3.9130,1.1739,0.8261,0.0870,14.3043,Wing G
2,K.J. Walton,Akron,MAC,20,63.0,108.6,26.5,54.3,58.88,9.1,...,2.78785,-0.335789,2.3500,3.5500,5.9000,1.1500,1.2500,0.2000,16.3500,Wing G
3,Jeriah Horne,Tulsa,Amer,32,61.3,116.0,20.8,55.2,58.61,5.8,...,5.22379,1.721580,1.1250,4.7188,5.8438,0.9062,0.5938,0.0625,10.8125,Stretch 4
4,Eric Curry,Minnesota,B10,29,39.2,95.1,14.7,46.3,48.72,7.0,...,-1.25322,2.746770,1.1034,1.9655,3.0690,0.8276,0.8276,0.2414,3.6552,Wing F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3962,Abiram Frye,New Orleans,Slnd,1,0.2,0.0,0.0,0.0,0.00,0.0,...,-6.79195,1.201100,0.0000,1.0000,1.0000,0.0000,0.0000,0.0000,0.0000,PF/C
3963,Kamron Battle,Northern Illinois,MAC,2,0.5,0.0,0.0,0.0,0.00,0.0,...,-14.20320,-6.921100,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,PF/C
3964,Trey Patterson,Villanova,BE,2,0.3,60.5,19.3,0.0,0.00,0.0,...,2.14329,16.018200,0.0000,0.0000,0.0000,0.5000,0.5000,0.0000,0.0000,Pure PG
3965,Stavros Polatoglou,Northwestern St.,Slnd,4,1.3,28.3,7.1,0.0,0.00,7.0,...,-7.24223,-4.993820,0.2500,0.0000,0.2500,0.0000,0.0000,0.0000,0.0000,C
3969,Jaden Jones,Rutgers,B10,4,1.0,89.6,28.8,25.0,25.00,10.3,...,9.22084,-3.329310,0.2500,0.0000,0.2500,0.7500,0.0000,0.0000,0.7500,Pure PG

In [33]:
#No more nulls
sum_of_nulls3 = Cleaned_df.isna().sum(axis='index').sort_values(ascending = False)
sum_of_nulls3

player_name        0
pid                0
rimmade            0
rimmade+rimmiss    0
midmade            0
                  ..
yr                 0
ht                 0
porpag             0
adjoe              0
Position           0
Length: 61, dtype: int64

In [34]:
#All characters in the player_name column needs to be in the same (lower or upper) case
Cleaned_df['player_name'] = Cleaned_df['player_name'].str.upper()
Cleaned_df

C:\Users\tyler\AppData\Local\Temp\ipykernel_20284\1029854896.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Cleaned_df['player_name'] = Cleaned_df['player_name'].str.upper()

,player_name,team,conf,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,...,ogbpm,dgbpm,oreb,dreb,treb,ast,stl,blk,pts,Position
0,ISAIAH FELDER,South Carolina St.,MEAC,11,17.6,61.1,18.6,34.7,35.18,2.5,...,-7.49472,-4.412530,0.2727,1.4545,1.7273,0.4545,0.1818,0.0000,2.3636,Wing G
1,JALEN COLEMAN-LANDS,Kansas,B12,23,78.5,103.1,21.5,54.0,56.12,3.6,...,2.89361,-1.019000,1.0435,2.8696,3.9130,1.1739,0.8261,0.0870,14.3043,Wing G
2,K.J. WALTON,Akron,MAC,20,63.0,108.6,26.5,54.3,58.88,9.1,...,2.78785,-0.335789,2.3500,3.5500,5.9000,1.1500,1.2500,0.2000,16.3500,Wing G
3,JERIAH HORNE,Tulsa,Amer,32,61.3,116.0,20.8,55.2,58.61,5.8,...,5.22379,1.721580,1.1250,4.7188,5.8438,0.9062,0.5938,0.0625,10.8125,Stretch 4
4,ERIC CURRY,Minnesota,B10,29,39.2,95.1,14.7,46.3,48.72,7.0,...,-1.25322,2.746770,1.1034,1.9655,3.0690,0.8276,0.8276,0.2414,3.6552,Wing F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3962,ABIRAM FRYE,New Orleans,Slnd,1,0.2,0.0,0.0,0.0,0.00,0.0,...,-6.79195,1.201100,0.0000,1.0000,1.0000,0.0000,0.0000,0.0000,0.0000,PF/C
3963,KAMRON BATTLE,Northern Illinois,MAC,2,0.5,0.0,0.0,0.0,0.00,0.0,...,-14.20320,-6.921100,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,PF/C
3964,TREY PATTERSON,Villanova,BE,2,0.3,60.5,19.3,0.0,0.00,0.0,...,2.14329,16.018200,0.0000,0.0000,0.0000,0.5000,0.5000,0.0000,0.0000,Pure PG
3965,STAVROS POLATOGLOU,Northwestern St.,Slnd,4,1.3,28.3,7.1,0.0,0.00,7.0,...,-7.24223,-4.993820,0.2500,0.0000,0.2500,0.0000,0.0000,0.0000,0.0000,C
3969,JADEN JONES,Rutgers,B10,4,1.0,89.6,28.8,25.0,25.00,10.3,...,9.22084,-3.329310,0.2500,0.0000,0.2500,0.7500,0.0000,0.0000,0.7500,Pure PG

In [35]:
#Convert year column to string
Cleaned_df = Cleaned_df.astype({"year": object})

In [36]:
#Rename Year to reference date
Cleaned_df = Cleaned_df.rename(columns={'year':'Date_Yr'})
#Rename yr to reference school
Cleaned_df = Cleaned_df.rename(columns={'yr':'School_Yr'})

In [37]:
String_Columns = Cleaned_df.dtypes[Cleaned_df.dtypes == "object"].index.tolist()
String_Columns

['player_name', 'team', 'conf', 'School_Yr', 'Date_Yr', 'type', 'Position']

In [38]:
#Checking type column values.
Cleaned_df.type.unique()

array(['all'], dtype=object)

In [39]:
#Dropping 'type' column since it has just one value
Cleaned_df = Cleaned_df.drop(columns=['type'])

In [40]:
String_Columns = Cleaned_df.dtypes[Cleaned_df.dtypes == "object"].index.tolist()
String_Columns

['player_name', 'team', 'conf', 'School_Yr', 'Date_Yr', 'Position']

In [41]:
String_df = Cleaned_df[String_Columns]
String_df

,player_name,team,conf,School_Yr,Date_Yr,Position
0,ISAIAH FELDER,South Carolina St.,MEAC,Sr,2022,Wing G
1,JALEN COLEMAN-LANDS,Kansas,B12,Sr,2022,Wing G
2,K.J. WALTON,Akron,MAC,Sr,2022,Wing G
3,JERIAH HORNE,Tulsa,Amer,Sr,2022,Stretch 4
4,ERIC CURRY,Minnesota,B10,Sr,2022,Wing F
...,...,...,...,...,...,...
3962,ABIRAM FRYE,New Orleans,Slnd,So,2022,PF/C
3963,KAMRON BATTLE,Northern Illinois,MAC,So,2022,PF/C
3964,TREY PATTERSON,Villanova,BE,So,2022,Pure PG
3965,STAVROS POLATOGLOU,Northwestern St.,Slnd,So,2022,C
3969,JADEN JONES,Rutgers,B10,So,2022,Pure PG

In [42]:
Int_Columns = Cleaned_df.dtypes[(Cleaned_df.dtypes == "int64") | (Cleaned_df.dtypes == "int")].index.tolist()
Int_Columns

['GP', 'FTM', 'FTA', 'twoPM', 'twoPA', 'TPM', 'TPA', 'ht', 'pid']

In [43]:
Int_df = Cleaned_df[Int_Columns]
Int_df

      GP  FTM  FTA  twoPM  twoPA  TPM  TPA  ht    pid
0     11    1    2      2      8    7   28  72  39014
1     23   31   36     62    129   58  147  76  40204
2     20   73   92    127    231    0    3  75  41728
3     32   48   53     71    139   52  131  79  44216
4     29   18   29     38     74    4   21  81  44217
...   ..  ...  ...    ...    ...  ...  ...  ..    ...
3962   1    0    0      0      0    0    0  74  74227
3963   2    0    0      0      0    0    0  77  74228
3964   2    0    0      0      1    0    0  80  74229
3965   4    0    0      0      1    0    0  83  74230
3969   4    0    0      0      4    1    2  80  74254

[3779 rows x 9 columns]

In [44]:
Float_Columns = Cleaned_df.dtypes[Cleaned_df.dtypes == "float64"].index.tolist()
Float_Columns

['Min_per',
 'Ortg',
 'usg',
 'eFG',
 'TS_per',
 'ORB_per',
 'DRB_per',
 'AST_per',
 'TO_per',
 'FT_per',
 'twoP_per',
 'TP_per',
 'blk_per',
 'stl_per',
 'ftr',
 'porpag',
 'adjoe',
 'pfr',
 'rimmade',
 'rimmade+rimmiss',
 'midmade',
 'midmade+midmiss',
 'rimmade/(rimmade+rimmiss)',
 'midmade/(midmade+midmiss)',
 'dunksmade',
 'dunksmiss+dunksmade',
 'dunksmade/(dunksmade+dunksmiss)',
 'drtg',
 'adrtg',
 'dporpag',
 'stops',
 'bpm',
 'obpm',
 'dbpm',
 'gbpm',
 'mp',
 'ogbpm',
 'dgbpm',
 'oreb',
 'dreb',
 'treb',
 'ast',
 'stl',
 'blk',
 'pts']

In [45]:
Float_df = Cleaned_df[Float_Columns]
Float_df

,Min_per,Ortg,usg,eFG,TS_per,ORB_per,DRB_per,AST_per,TO_per,FT_per,...,mp,ogbpm,dgbpm,oreb,dreb,treb,ast,stl,blk,pts
0,17.6,61.1,18.6,34.7,35.18,2.5,15.7,8.1,30.4,0.500,...,11.5455,-7.49472,-4.412530,0.2727,1.4545,1.7273,0.4545,0.1818,0.0000,2.3636
1,78.5,103.1,21.5,54.0,56.12,3.6,10.2,7.8,16.1,0.861,...,32.7826,2.89361,-1.019000,1.0435,2.8696,3.9130,1.1739,0.8261,0.0870,14.3043
2,63.0,108.6,26.5,54.3,58.88,9.1,12.6,8.9,17.2,0.793,...,29.3000,2.78785,-0.335789,2.3500,3.5500,5.9000,1.1500,1.2500,0.2000,16.3500
3,61.3,116.0,20.8,55.2,58.61,5.8,23.0,7.5,13.0,0.906,...,24.5000,5.22379,1.721580,1.1250,4.7188,5.8438,0.9062,0.5938,0.0625,10.8125
4,39.2,95.1,14.7,46.3,48.72,7.0,13.7,10.2,20.7,0.621,...,15.8966,-1.25322,2.746770,1.1034,1.9655,3.0690,0.8276,0.8276,0.2414,3.6552
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3962,0.2,0.0,0.0,0.0,0.00,0.0,55.6,0.0,0.0,0.000,...,2.0000,-6.79195,1.201100,0.0000,1.0000,1.0000,0.0000,0.0000,0.0000,0.0000
3963,0.5,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.000,...,2.0000,-14.20320,-6.921100,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
3964,0.3,60.5,19.3,0.0,0.00,0.0,0.0,51.1,0.0,0.000,...,1.5000,2.14329,16.018200,0.0000,0.0000,0.0000,0.5000,0.5000,0.0000,0.0000
3965,1.3,28.3,7.1,0.0,0.00,7.0,0.0,0.0,50.3,0.000,...,3.7500,-7.24223,-4.993820,0.2500,0.0000,0.2500,0.0000,0.0000,0.0000,0.0000
3969,1.0,89.6,28.8,25.0,25.00,10.3,0.0,48.0,0.0,0.000,...,2.7500,9.22084,-3.329310,0.2500,0.0000,0.2500,0.7500,0.0000,0.0000,0.7500

In [46]:
#Weed out outliers that could skew data. Only keep rows that have 8 or more games played
len(Cleaned_df[Cleaned_df['GP'] >= 8])

3058

In [47]:
Cleaned_df = Cleaned_df[Cleaned_df['GP']>=8]
Cleaned_df.GP.unique()

array([11, 23, 20, 32, 29, 18, 16, 15, 24, 14, 21, 17, 25,  8, 22, 12, 28,
       19, 26, 10, 33, 13, 27, 31,  9, 30], dtype=int64)

In [48]:
Cleaned_df

,player_name,team,conf,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,...,ogbpm,dgbpm,oreb,dreb,treb,ast,stl,blk,pts,Position
0,ISAIAH FELDER,South Carolina St.,MEAC,11,17.6,61.1,18.6,34.7,35.18,2.5,...,-7.494720,-4.412530,0.2727,1.4545,1.7273,0.4545,0.1818,0.0000,2.3636,Wing G
1,JALEN COLEMAN-LANDS,Kansas,B12,23,78.5,103.1,21.5,54.0,56.12,3.6,...,2.893610,-1.019000,1.0435,2.8696,3.9130,1.1739,0.8261,0.0870,14.3043,Wing G
2,K.J. WALTON,Akron,MAC,20,63.0,108.6,26.5,54.3,58.88,9.1,...,2.787850,-0.335789,2.3500,3.5500,5.9000,1.1500,1.2500,0.2000,16.3500,Wing G
3,JERIAH HORNE,Tulsa,Amer,32,61.3,116.0,20.8,55.2,58.61,5.8,...,5.223790,1.721580,1.1250,4.7188,5.8438,0.9062,0.5938,0.0625,10.8125,Stretch 4
4,ERIC CURRY,Minnesota,B10,29,39.2,95.1,14.7,46.3,48.72,7.0,...,-1.253220,2.746770,1.1034,1.9655,3.0690,0.8276,0.8276,0.2414,3.6552,Wing F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3944,ISAIAH FOLKES,Charlotte,CUSA,8,3.7,92.7,13.4,40.0,45.66,7.4,...,-2.531970,-1.803130,0.2500,0.7500,1.0000,0.3750,0.0000,0.0000,0.6250,Wing G
3948,FRANCK KEPNANG,Oregon,P12,16,12.9,129.5,13.2,67.9,65.84,8.5,...,1.368160,4.294650,0.6250,0.6250,1.2500,0.1250,0.1250,1.1250,2.8125,C
3952,GERALD DOAKES,New Mexico St.,WAC,10,5.9,47.2,28.6,11.9,17.11,0.0,...,-14.429000,-7.202480,0.1818,0.8182,1.0000,0.3636,0.1818,0.0000,1.7273,Wing G
3955,DAVID JONES,DePaul,BE,9,17.1,86.9,21.8,39.1,40.09,7.3,...,-1.246090,0.529388,1.0000,1.6667,2.6667,0.4444,0.4444,0.2222,5.1111,Wing F
3956,MAC ETIENNE,UCLA,P12,13,11.0,99.1,15.1,60.0,55.37,10.2,...,0.260789,0.799673,0.9231,1.9231,2.8462,0.2308,0.1538,0.1538,2.6154,C

In [49]:
Cleaned_df.to_csv("../CleanData/CollegeBasketballPlayers2022_clean.csv", index=False)

In [55]:
#Additional Testing

In [53]:
#Checking for Duplicates
Duplicates = Cleaned_df[Cleaned_df.duplicated()]
Duplicates
#No duplicates

Empty DataFrame
Columns: [player_name, team, conf, GP, Min_per, Ortg, usg, eFG, TS_per, ORB_per, DRB_per, AST_per, TO_per, FTM, FTA, FT_per, twoPM, twoPA, twoP_per, TPM, TPA, TP_per, blk_per, stl_per, ftr, School_Yr, ht, porpag, adjoe, pfr, Date_Yr, pid, rimmade, rimmade+rimmiss, midmade, midmade+midmiss, rimmade/(rimmade+rimmiss), midmade/(midmade+midmiss), dunksmade, dunksmiss+dunksmade, dunksmade/(dunksmade+dunksmiss), drtg, adrtg, dporpag, stops, bpm, obpm, dbpm, gbpm, mp, ogbpm, dgbpm, oreb, dreb, treb, ast, stl, blk, pts, Position]
Index: []

[0 rows x 60 columns]

In [54]:
#No nulls
Cleaned_df.isna().sum()

player_name                        0
team                               0
conf                               0
GP                                 0
Min_per                            0
Ortg                               0
usg                                0
eFG                                0
TS_per                             0
ORB_per                            0
DRB_per                            0
AST_per                            0
TO_per                             0
FTM                                0
FTA                                0
FT_per                             0
twoPM                              0
twoPA                              0
twoP_per                           0
TPM                                0
TPA                                0
TP_per                             0
blk_per                            0
stl_per                            0
ftr                                0
School_Yr                          0
ht                                 0
porpag                             0
adjoe                              0
pfr                                0
Date_Yr                            0
pid                                0
rimmade                            0
rimmade+rimmiss                    0
midmade                            0
midmade+midmiss                    0
rimmade/(rimmade+rimmiss)          0
midmade/(midmade+midmiss)          0
dunksmade                          0
dunksmiss+dunksmade                0
dunksmade/(dunksmade+dunksmiss)    0
drtg                               0
adrtg                              0
dporpag                            0
stops                              0
bpm                                0
obpm                               0
dbpm                               0
gbpm                               0
mp                                 0
ogbpm                              0
dgbpm                              0
oreb                               0
dreb                               0
treb                               0
ast                                0
stl                                0
blk                                0
pts                                0
Position                           0
dtype: int64