In [1]:
from sklearn.datasets import make_regression
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report

In [2]:
import os
Bball_Stats = os.path.join('../CleanData/CollegeBasketballPlayers2009-2021_clean_TE.csv')
Bball_Stats_df = pd.read_csv(Bball_Stats)
Bball_Stats_df.head()

,player_name,team,conf,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,...,ogbpm,dgbpm,oreb,dreb,treb,ast,stl,blk,pts,Unnamed: 65
0,DeAndrae Ross,South Alabama,SB,26,29.5,97.3,16.6,42.5,44.43,1.6,...,-2.781990,-1.941150,0.1923,0.6154,0.8077,1.1923,0.3462,0.0385,3.8846,6.22026
1,Pooh Williams,Utah St.,WAC,34,60.9,108.3,14.9,52.4,54.48,3.8,...,-0.052263,-0.247934,0.6765,1.2647,1.9412,1.8235,0.4118,0.2353,5.9412,3.94375
2,Jesus Verdejo,South Florida,BE,27,72.0,96.2,21.8,45.7,47.98,2.1,...,1.548230,-0.883163,0.6296,2.3333,2.9630,1.9630,0.4815,0.0000,12.1852,10.92680
3,Mike Hornbuckle,Pepperdine,WCC,30,44.5,97.7,16.0,53.6,53.69,4.1,...,-0.342775,-0.393459,0.7000,1.4333,2.1333,1.1000,0.5667,0.1333,4.9333,6.77427
4,Anthony Brown,Pacific,BW,33,56.2,96.5,22.0,52.8,54.31,8.3,...,-1.684860,-0.668318,1.4242,3.3030,4.7273,0.8485,0.4545,0.3333,7.5758,0.00000

In [11]:
#Convert year column to string
Bball_Stats_df = Bball_Stats_df.astype({"Date_Yr": object})

In [12]:
String_Columns = Bball_Stats_df.dtypes[Bball_Stats_df.dtypes == "object"].index.tolist()
String_Columns

['player_name', 'team', 'conf', 'School_Yr', 'Date_Yr']

In [13]:
Int_Columns = Bball_Stats_df.dtypes[Bball_Stats_df.dtypes == "int64"].index.tolist()
Int_Columns

['GP', 'FTM', 'FTA', 'twoPM', 'twoPA', 'TPM', 'TPA', 'ht', 'pid']

In [32]:
#Players' Avg Stats over the years they played
Groupby_Avg_Test = Bball_Stats_df.groupby('player_name',as_index=False).agg('mean')

In [33]:
Groupby_Avg_Test

,player_name,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,DRB_per,AST_per,...,ogbpm,dgbpm,oreb,dreb,treb,ast,stl,blk,pts,Unnamed: 65
0,A'Torey Everett,23.000000,19.000000,88.000000,15.700000,40.500000,50.080000,1.600000,8.100,14.500000,...,-5.633160,-0.881980,0.125000,0.750000,0.875000,0.708300,0.083300,0.041700,2.416700,1.878270
1,A'Torri Shine,27.000000,79.300000,94.100000,23.100000,45.400000,49.985000,4.000000,10.100,8.200000,...,-0.919447,-4.191470,1.132150,2.699250,3.831400,0.950850,0.670500,0.215850,13.027450,7.937060
2,A'Uston Calhoun,30.000000,83.800000,99.900000,25.500000,47.100000,51.500000,7.800000,16.800,5.700000,...,0.949586,-2.014620,2.266700,4.766700,7.033300,0.800000,0.366700,0.466700,15.233300,3.286610
3,A'uston Calhoun,21.333333,45.333333,99.466667,24.633333,47.833333,50.153333,5.700000,11.300,3.533333,...,9.365095,-2.877167,1.336367,2.485200,3.821600,0.402567,0.411300,0.368633,9.993633,13.525847
4,A.C. Reid,23.750000,39.950000,69.025000,16.700000,34.475000,35.722500,0.625000,9.725,11.900000,...,-5.006785,-1.539672,0.094825,1.534850,1.629675,1.127825,0.447025,0.103825,4.362075,13.781475
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25425,Zvonko Buljan,29.500000,68.100000,95.200000,27.600000,51.400000,54.550000,8.900000,28.850,17.950000,...,1.238993,0.665992,1.998300,6.192500,8.190800,1.986200,0.795400,0.272400,12.031650,6.227900
25426,Zygis Sestokas,23.000000,30.900000,132.700000,11.300000,58.800000,59.150000,2.700000,6.400,6.800000,...,2.461740,-0.407180,0.434800,1.000000,1.434800,0.521700,0.260900,0.173900,5.087000,13.152500
25427,Zylan Cheatham,33.333333,61.500000,104.766667,21.700000,53.700000,58.666667,9.066667,22.000,13.866667,...,0.906384,3.106397,1.994667,5.301067,7.295733,1.826767,0.814533,0.698967,9.580733,1.055712
25428,Zyon Dobbs,16.000000,8.000000,66.300000,13.700000,31.600000,31.350000,2.200000,5.900,7.700000,...,-5.513820,-2.299040,0.117600,0.470600,0.588200,0.470600,0.529400,0.117600,1.352900,5.376830
25429,Zyon Pullin,25.500000,60.300000,99.150000,20.850000,46.900000,50.695000,1.300000,14.450,24.900000,...,-0.910375,0.474388,0.262450,3.201600,3.464050,3.130500,0.524950,0.071150,8.162050,5.161710

In [34]:
Ochai = Groupby_Avg_Test[Groupby_Avg_Test['player_name'] == "Ochai Agbaji"]
Ochai

,player_name,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,DRB_per,AST_per,...,ogbpm,dgbpm,oreb,dreb,treb,ast,stl,blk,pts,Unnamed: 65
19156,Ochai Agbaji,27.0,69.066667,105.066667,17.866667,52.0,53.796667,3.866667,11.166667,9.333333,...,2.461533,2.07402,1.0275,3.112133,4.139633,1.591933,0.926767,0.423433,10.9044,8.96136

In [35]:
#Players' MAX metric over the years they played
Groupby_Max_Test = Bball_Stats_df.groupby('player_name',as_index=False).agg('max')

In [36]:
Ochai_Max = Groupby_Max_Test[Groupby_Max_Test['player_name'] == "Ochai Agbaji"]
Ochai_Max

,player_name,team,conf,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,...,ogbpm,dgbpm,oreb,dreb,treb,ast,stl,blk,pts,Unnamed: 65
19156,Ochai Agbaji,Kansas,B12,30,84.6,109.6,19.8,52.8,54.49,4.4,...,3.87413,2.65618,1.1613,3.6364,4.5909,2.0,1.2258,0.5455,14.2,11.834

In [38]:
#Load Drafted Players csv
Drafted = os.path.join('../Cleaning_Data/Data/DraftedPlayers2009-2021.csv')
Drafted_df = pd.read_csv(Drafted)
Drafted_df.head()

,PLAYER,TEAM,AFFILIATION,YEAR,ROUND_NUMBER,ROUND_PICK,OVERALL_PICK
0,Cade Cunningham,Detroit Pistons,Oklahoma State,2021,1,1,1
1,Jalen Green,Houston Rockets,Ignite (G League),2021,1,2,2
2,Evan Mobley,Cleveland Cavaliers,Southern California,2021,1,3,3
3,Scottie Barnes,Toronto Raptors,Florida State,2021,1,4,4
4,Jalen Suggs,Orlando Magic,Gonzaga,2021,1,5,5

In [39]:
#Rename TEAM to Drafted_By
Drafted_df = Drafted_df.rename(columns={'TEAM':'DRAFTED_BY'})
Drafted_df.head()

,PLAYER,DRAFTED_BY,AFFILIATION,YEAR,ROUND_NUMBER,ROUND_PICK,OVERALL_PICK
0,Cade Cunningham,Detroit Pistons,Oklahoma State,2021,1,1,1
1,Jalen Green,Houston Rockets,Ignite (G League),2021,1,2,2
2,Evan Mobley,Cleveland Cavaliers,Southern California,2021,1,3,3
3,Scottie Barnes,Toronto Raptors,Florida State,2021,1,4,4
4,Jalen Suggs,Orlando Magic,Gonzaga,2021,1,5,5

In [43]:
#Join The Players' Avg Stats to Drafted_DF
Merge_Test2 = pd.merge(Drafted_df,Groupby_Avg_Test,how='left',left_on='PLAYER',right_on='player_name')

In [44]:
Merge_Test2

,PLAYER,DRAFTED_BY,AFFILIATION,YEAR,ROUND_NUMBER,ROUND_PICK,OVERALL_PICK,player_name,GP,Min_per,...,ogbpm,dgbpm,oreb,dreb,treb,ast,stl,blk,pts,Unnamed: 65
0,Cade Cunningham,Detroit Pistons,Oklahoma State,2021,1,1,1,Cade Cunningham,27.0,78.0,...,4.87999,2.536370,0.7037,5.4815,6.1852,3.4444,1.5926,0.7778,20.2222,8.872600
1,Jalen Green,Houston Rockets,Ignite (G League),2021,1,2,2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Evan Mobley,Cleveland Cavaliers,Southern California,2021,1,3,3,Evan Mobley,33.0,83.6,...,7.38800,5.252480,2.7273,5.9394,8.6667,2.3939,0.7879,2.8485,16.3636,2.101970
3,Scottie Barnes,Toronto Raptors,Florida State,2021,1,4,4,Scottie Barnes,24.0,58.9,...,4.19499,2.995100,1.4583,2.5417,4.0000,4.0833,1.4583,0.4583,10.3333,3.850450
4,Jalen Suggs,Orlando Magic,Gonzaga,2021,1,5,5,Jalen Suggs,30.0,67.5,...,4.37217,4.111230,0.6000,4.7333,5.3333,4.5333,1.9000,0.3333,14.3000,6.422830
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
775,Ahmad Nivins,Dallas Mavericks,Saint Joseph's,2009,2,26,56,Ahmad Nivins,32.0,96.5,...,5.69052,0.898667,3.9375,7.8750,11.8125,1.0000,0.8125,1.7500,19.1562,0.048109
776,Emir Preldzic,Phoenix Suns,Fenerbahce S.K. (Turkey),2009,2,27,57,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
777,Lester Hudson,Boston Celtics,Tennessee-Martin,2009,2,28,58,Lester Hudson,30.0,90.6,...,10.44650,1.135300,2.2000,5.8667,8.0667,4.1333,2.1000,0.6000,27.7333,14.790600
778,Chinemelu Elonu,Los Angeles Lakers,Texas A&M,2009,2,29,59,Chinemelu Elonu,33.0,59.1,...,3.16663,2.007480,2.7879,4.4242,7.2121,0.3030,0.3030,1.5758,9.7273,0.000000
779,Robert Dozier,Miami Heat,Memphis,2009,2,30,60,Robert Dozier,37.0,75.3,...,4.24030,4.602980,2.8649,4.5946,7.4595,1.4324,1.2703,1.6486,12.8919,2.898930

In [48]:
Mismatches=Merge_Test2[Merge_Test2['player_name'].isna() == True]
Mismatches

,PLAYER,DRAFTED_BY,AFFILIATION,YEAR,ROUND_NUMBER,ROUND_PICK,OVERALL_PICK,player_name,GP,Min_per,...,ogbpm,dgbpm,oreb,dreb,treb,ast,stl,blk,pts,Unnamed: 65
1,Jalen Green,Houston Rockets,Ignite (G League),2021,1,2,2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Josh Giddey,Oklahoma City Thunder,NBA Global Academy (Australia),2021,1,6,6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Jonathan Kuminga,Golden State Warriors,Ignite (G League),2021,1,7,7,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Alperen Sengun,Oklahoma City Thunder,Besiktas (Turkey),2021,1,16,16,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Usman Garuba,Houston Rockets,Madrid (ESP),2021,1,23,23,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
766,Henk Norel,Minnesota Timberwolves,Joventut Badalona (Spain),2009,2,17,47,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
768,Sergiy Gladyr,Atlanta Hawks,MBC Mykolaiv (Ukraine),2009,2,19,49,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
771,AJ Price,Indiana Pacers,Connecticut,2009,2,22,52,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
772,Nando De Colo,San Antonio Spurs,Cholet Basket (France),2009,2,23,53,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
776,Emir Preldzic,Phoenix Suns,Fenerbahce S.K. (Turkey),2009,2,27,57,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
Mismatches.AFFILIATION.unique()

array(['Ignite (G League)', 'NBA Global Academy (Australia)',
       'Besiktas (Turkey)', 'Madrid (ESP)', 'Virginia Commonwealth',
       'Louisiana State', 'BC Zalgiris (Lithuania)', 'Paris (France)',
       'Florida State', 'BC Nevezis (Greece)', 'Illawarra (Australia)',
       'Ratiopharm Ulm (Germany)', 'Maccabi Tel Aviv B.C. (Israel)',
       'Olympiacos B.C. (Greece)', 'FC Barcelona Basquet (Spain)',
       'Breakers (New Zealand)', 'ASVEL Basket (France)',
       'Michigan State', 'Basket Zaragoza 2002 (Spain)',
       'KK Mega Leks (Serbia)', 'Hapoel Galil Elyon (Israel)',
       'IMG Academy', 'John A. Logan', 'Duke', 'Kentucky',
       'Limoges CSP (France)', 'KK Olimpija (Slovenia)', 'Princeton',
       'Georgia', 'Sesi Franca (Brazil)', 'BC Lietuvos rytas (Lithuania)',
       'Santa Cruz (G League)', 'Miami (FL)', 'KK Partizan (Serbia)',
       'Real Madrid Baloncesto (Spain)', 'Texas', 'Oregon', 'Texas A&M',
       'Cincinnati', 'KK Cedevita (Croatia)',
       'Elan Bearnais Pau-Orthez (France)', 'Tulane', nan,
       'Fraport Skyliners (Germany)', 'Kansas', 'Brose Bamberg (Germany)',
       'SIG Strasbourg (France)', 'North Carolina State',
       'California-Los Angeles', 'Adelaide 36ers (Australia)',
       'CB Gran Canaria (Spain)', 'Kansas State', 'Nanterre 92 (France)',
       'Panathinaikos B.C. (Greece)', 'Movistar Estudiantes',
       'SPO Rouen Basket', 'KK Cibona (Croatia)', 'KK Mega Vizura',
       'Anadolu Efes S.K. (Turkey)', 'Elan Chalon (France)',
       'Nevada-Las Vegas', 'Xinjiang Guanghui', 'Denain ASC Voltaire',
       'Purdue', 'FC Bayern Muenchen', 'Le Mans Sarthe Basket (France)',
       'Oakland', 'Fujian', 'CB Sevilla (Spain)',
       'Guangdong Southern Tigers (China)', 'Georgia State',
       'Bahia Basket (Argentina)', 'San Sebastian Gipuzkoa BC (Spain)',
       'North Carolina', 'Red Star Belgrade (Serbia)',
       'Australian Institute of Sport (Australia)',
       'Esporte Clube Pinheiros (Brazil)', 'Texas Legends (D-League)',
       'Chorale Roanne Basket (France)', 'Clemson',
       'Delaware 87ers (D-League)', 'Olimpia Milano (Italy)', 'Iowa',
       'Paris-Levallois Basket (France)', 'Georgetown', 'Lehigh',
       'CB Estudiantes (Spain)',
       'Basketball Lowen Braunschweig (Germany)',
       'B.C. Zenit Saint Petersburg (Russia)', 'Cholet Basket (France)',
       'Providence', 'Long Beach State', 'Valencia BC (Spain)',
       'BK Ventspils (Latvia)', "St. John's (NY)",
       'Poitiers Basket 86 (France)', 'Banvit B.K. (Turkey)',
       'CB Axarquia (Spain)', 'Galatasaray S.K. (Turkey)',
       'Pinar Karsiyaka (Turkey)', 'Baloncesto Fuenlabrada (Spain)',
       'Universo Treviso Basket (Italy)', 'Tokyo Apache (Japan)',
       'Bakersfield Jam (D-League)', 'Al Rayyan Basketball Team (Qatar)',
       'Alba Fehervar (Hungary)', 'Brose Baskets (Germany)',
       'KK Crvena zvezda (Serbia)', 'CB Murcia (Spain)',
       'Tulsa 66ers (D-League)', 'STB Le Havre (France)',
       'Joventut Badalona (Spain)', 'Pallacanestro Virtus Roma (Italy)',
       'CB Prat (Spain)', 'Pallacanestro Biella (Italy)',
       'BC Dnipro (Ukraine)', 'MBC Mykolaiv (Ukraine)', 'Connecticut',
       'Fenerbahce S.K. (Turkey)'], dtype=object)

In [56]:
Mismatches.to_csv("../Cleaning_Data/Data/Mismatches.csv", index=False)